
h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}

h4 {
  text-align: center;
  color: blue;
}

body{
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  background-color: brown;
}

section{
  background-color: aliceblue;
}

.prediction{
  border-radius: 15px;
  margin: 5px;
}

#InfoDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:rgb(221, 127, 255);
}

#part1{
  background-color: aquamarine;
}

#part2{
  background-color: bisque;
}

#part3{
  background-color: cornflowerblue;
}

